/* global styles */
body{
    background-color: rgba(252, 226, 229, 0.685);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-primary{
    background-color: #B8E1FF;
    border: none;
    color: #2e2d2d;
    font-weight: 500;
    font-size: 14px;
}

.btn-success{
    background-color: #9cf0ae;
    border: none;
    color: #2e2d2d;
    font-weight: 500;
    font-size: 14px;
}

.btn-danger{
    background-color: #E8AEB7;
    border: none;
    color: #2e2d2d;
    font-weight: 500;
    font-size: 14px;
}

.buttonForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2vh;
}

h1{
    color: white;
    background-color: #E8AEB7;
    font-size: 20px;
    width: 100%;
    padding: 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    color: #2e2d2d;
    font-size: 17px;
}

h4{
    color: #ffffff;
    background-color: #aff3ed;
    font-size: 17px;
    border-radius: 5px;
    padding: 1vh;
}

p {
    font-size: 13px;
    margin: 1vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2vh;
}

/* landing page */
/* buttons filter */
.container .d-flex .filter{
    background-color: #94FBAB;
    border: none;
    color: #2e2d2d;
    font-weight: 500;
    font-size: 17px;
    width: 200px;
    margin: 0 5px;
}

/* Cards */
.container .row {
    margin: 3vh 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .row .card {
    height: 45vh;
    margin: 3px 0;
    padding: 1vh;
}

.container .row .card #img {
    padding: 1vh;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    height: 30vh;             
    overflow: hidden;         
    width: 100%; 
    position: relative;
    border-radius: 5px;
}

.container .row .card #img .card-img-top {
    position: absolute; 
    min-width: 100%; 
    min-height: 100%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    object-fit: cover; 
}

.container .row .card .card-body {
    padding: 0;
}

/* create */
/* update */
.container form {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 1vh;
}

.container form .form-label{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.container form .form-label input{
    width: 400px;
}

/* navbar */
.navbar.bg-body-tertiary {
    width: 100%;
    height: 17vh;
    background-color: #B8E1FF !important;
    color: white;
    padding: 0 !important;
}
.navbar.bg-body-tertiary .container-fluid .navbar-collapse{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.bg-body-tertiary .container-fluid .navbar-collapse .navbar-nav{
    display: flex;
    align-items: flex-end;
}

/* footer */
#footer {
    background-color: #82ABA1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: rgb(255, 255, 255);
    font-size: medium;
    height: 150px;
    width: 100%;
}